.custom-tab {
  position: absolute;
  top: 0;
  left: 750px;
  height: 100%;
  pointer-events: none;
}

.abcdefGPT-result-tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: 100%;
    pointer-events: none;
    display: block;
}

.custom-header {
  height: 56px;
}

.css-33lnss {
  position: relative;
  top: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 56px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-flow: column wrap;
  color: rgb(72, 72, 72);
}

.css-1oc9vj8 {
  display: inline-block;
  position: relative;
  top: -1px;
  line-height: 1.33;
  font-size: 22px;
  letter-spacing: 0.005em;
}

.css-14vv9id {
  display: block;
  fill: none;
  stroke: currentcolor;
  /* stroke-width: 3px; */
  stroke-width: 1px;
}

.hidden-div {
  display: none;
}

.clickable-div {
  max-height: 100vh;
  overflow-y: auto;
  pointer-events: auto;
  user-select: none;
  }

.white-bg {
    background-color: white;
  }

.custom-content {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.hidden-button {
  display: none;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 9px;
  box-sizing: border-box;
  padding-right: 15px;
  height: 56px;
  color: rgb(127, 126, 146);
}

.custom-button {
  margin-top: 5px;
  background-color: #4d55b2;
  color: white;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  pointer-events: auto;
}


body, th, td, input, select, textarea, button, pre {
    font-family: 'SpoqaHanSans', 'SpoqaHanSansWeb', 'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'NanumGothic', '나눔고딕', sans-serif;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}