.custom-tab {
  position: absolute;
  top: 0;
  left: 750px;
  height: 100%;
  pointer-events: none;
}

.abcdefGPT-result-tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    pointer-events: none;
    display: block;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.075), -1px 1px 1px rgba(0, 0, 0, 0.03), 1px 1px 1px rgba(0, 0, 0, 0.03);
    box-shadow: -8px 0px 8px rgba(0, 0, 0, 0.15), 0px 2px 2px rgba(0, 0, 0, 0.075), 1px 1px 1px rgba(0, 0, 0, 0.03);
}

.custom-header {
  height: 40px;
  border-bottom: 8px solid #f3f3f3;
}

.css-33lnss {
  position: relative;
  top: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 56px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-flow: column wrap;
  color: rgb(72, 72, 72);
}

.css-1oc9vj8 {
  display: inline-block;
  position: relative;
  top: -1px;
  line-height: 1.33;
  font-size: 22px;
  letter-spacing: 0.005em;
}

.css-14vv9id {
  display: block;
  fill: none;
  stroke: currentcolor;
  /* stroke-width: 3px; */
  stroke-width: 1px;
}

.hidden-div {
  display: none;
}

.clickable-div {
  max-height: 100vh;
  overflow-y: auto;
  pointer-events: auto;
  user-select: none;
  }

.white-bg {
    background-color: white;
  }

.custom-content {
  flex-wrap: wrap;
}

.hidden-button {
  display: none;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 9px;
  box-sizing: border-box;
  padding-right: 15px;
  height: 56px;
  color: rgb(127, 126, 146);
}

.custom-button {
  margin-top: 5px;
  background-color: #4d55b2;
  color: white;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  pointer-events: auto;
}


body, th, td, input, select, textarea, button, pre {
    font-family: 'SpoqaHanSans', 'SpoqaHanSansWeb', 'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', 'NanumGothic', '나눔고딕', sans-serif;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.loading-page{
  margin: 10px;
  padding-bottom: 50%;
  display: flex;
  position: relative;
  justify-content: center;
}


.gif-image{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.loading-page img{
  margin-top: 2.5px;
  width:195px;
  display: flex;
  justify-content: center;
}

.teamName {
  margin-top: 50%;
  display: flex;
  justify-content: center;
  width:100%;
}

.teamName h1{
  color:#4d55b2;
  padding-bottom: 50px;
}

.menu_bar{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 8px solid #f3f3f3;
}

.menu_bar ul li{
  font-size: 13px;
  font-weight: bold;
  display: inline;
  margin: 3px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background-color: #f3f4fc;
  height: 50px;
  line-height: 50px;
  border-radius: 15px;
  cursor: pointer;
}

.menu_bar ul li a{
  color: #584de4;
}

.apt_name{
  margin-top: 15px;
  text-align: center;
}

.content_header{
  display: flex;
  line-height: 40px;
  font-weight: bold;
  border-bottom: 2px solid #f3f3f3;
}

.content_header img{
  width: 40px;
  margin-left: 20px;
}

.content_main {
  margin-left: 20px;
  padding-bottom: 30px;
}

.topic{
  display: flex;
  flex-wrap: wrap;
  line-height: 50px;
  border-bottom: 2px solid #f3f3f3;
  margin-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  margin-left: -20px;
}

.topic a{
  display: flex;
  background-color: #f3f4fc;
  height: 50px;
  width: 60px;
  color: #584de4;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  border-radius: 10px;
}

.comments{
  list-style: disc;
  width: 290px;
  margin-left: 10px;
  margin-bottom: 10px;
  line-height: 100%;
  height: auto;
}

.comments a{
  height: auto;
  width: 270px;
  word-break: break-all;
  background-color: white;
  color: black;
  justify-content: left;
  font-weight: lighter;
}

.content_main .content_box{
  margin-top: 10px;
  background-color: #C8CEFF;
  border-radius: 15px;
  width: 335px;
  font-weight: bold;
  font-size: 11px;
}

.seoulQ{
  background-color: #f3f4fc;
  border-radius: 15px;
  text-align: center;
  padding: 20px 0px;
  display: flex;
}

.seoulQ a{
  width: 270px;
  margin: 0px 10px;
}

.seoulQ img, .seoulA img{
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.seoulA{
  text-align: center;
  padding: 20px 0px;
  display: flex;
  
}

.seoulA a{
  width: 270px;
  margin: 0px 10px;
}

.GPT_container{
  padding-top: 10px;
  width: 335px;
  text-align: center;
}

#gptname{
  color: #f3f3f3 ;
  padding: 40px;
  margin-bottom: 100px;
}

.Msg_send{
  display: flex;
  justify-content: center;
}

.Msg_send .Msg_area{
  border: 2px solid black;
  border-radius: 15px;
  width: 250px;
  height: 50px;
  margin-top: 20px;
}

.custom-scroll-menu-container{
  width: 335px;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid #f3f3f3;
}


.custom-scroll-menu-container ul{
  overflow-y: hidden;
  overflow-x: scroll;
  list-style-type: none;
  -ms-overflow-style: none;
}
.custom-scroll-menu-container ul::-webkit-scrollbar{
  display: none;
}

.custom-scroll-menu-container ul li{
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 50px;
  margin-right: 20px;
  line-height: 40px;
  cursor: pointer;
}

.custom-scroll-menu-container ul li a{
  font-size: 16px;
}

.menu-active{
  font-weight: bold;
  border-bottom: 2px solid black;
}

.info-hidden{
  display: none;
}
.info-active{
  display: block;
}

.reviews{
  width: 290px;
  font-size: 15px;
  color: black
}

.reviews li a{
  list-style-type: disc;
  color: black;
}

.apt-price-topic{
  font-weight: bold;
}

.apt-price-frame{
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 335px;
  font-size: 15px;
}