.search-tab {
    top: 0;
    left: 0;
    width: 375px;
    display: block;
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.075), -1px 1px 1px rgba(0, 0, 0, 0.03), 1px 1px 1px rgba(0, 0, 0, 0.03);
    box-shadow: -8px 0px 8px rgba(0, 0, 0, 0.15), 0px 2px 2px rgba(0, 0, 0, 0.075), 1px 1px 1px rgba(0, 0, 0, 0.03);
}

.hidden-div {
    display: none;
  }
  
.clickable-div {
    max-height: 100vh;
    overflow-y: auto;
    pointer-events: auto;
    user-select: none;
}
  
.white-bg {
    background-color: white;
}
  
.search-tab-blew {
    position: absolute;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 13px;
    width: 335px;
    z-index: 10;
}
  
  .search-results {
    width: 335px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;    
  }
  
  .search-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
  
  .search-item:hover {
    background-color: #f9f9f9;
  }

  .search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* Border color as needed */
  padding-right: 40px; /* Adjust based on icon size */
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px;
}

.icon-container {
  position: absolute;
  right: 5px;
  display: flex;
}

.search-icon,
.close-icon {
margin-left: 5px;
cursor: pointer;
color: rgb(127, 126, 146);
}

.centered-message {
    position: absolute;
  }

.search-content {
  margin-top: 50px;
    position: relative;
    z-index: 1;
}